body {
  color: rgb(0, 0, 0);
}

body,html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#intro{
  background-image: url("/images/Grass_Block_%28side_texture%29");
  background-repeat: repeat-x;
  background-size:15%;
  z-index: -1;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
}