@font-face {
  font-family: minecraft;
  src: url(Minecraft.ttf);
}

body {
  color: rgb(0, 0, 0);
}

body,html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#title{
  align-self: center;
  font-size: 5vh;
  text-align: center;
  width: 100%;
  font-family: minecraft;
  color: white;
}

#intro{
  background-image: url(images/dirt.jpg);
  background-repeat: repeat-x;
  background-size: 15%;
  z-index: -1;
  width: 100vw;
  display: flex;
  position: relative;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
  color: white;
}